/* Global reset [Start] */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* :focus {
  outline: none;
  box-shadow: 0 0 4px 4px gray;
} */

:focus-visible {
  outline: none;
  box-shadow: 0 0 4px 4px gray;
}

/* Global reset [End] */